<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- we will use semantic ui for better styles -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css"
    />
  </head>
  <body>
    <div class="ui container">
        <h1>
            <a href="/stock">Stocks</a>
            <i class="arrow alternate circle right outline icon"></i>
            {{strategy.name}}
        </h1>
        
        <table class="ui selectable inverted table">
            <thead>
                <tr>
                    <th>Symbol</th>
                    <th>Company</th>
                </tr>
            </thead>
            <tbody>
                {% for stock in stocks %} 
                <tr>
                    <td>{{stock.symbol}}</td>
                    <td><a href="/stock/{{stock.symbol}}">{{stock.name}}</a></td>
                    <!-- this href link will create links for each stock -->
                    <!-- ex -> stock/AAPL , stock/MSFT -->
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </div>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>
  </body>
</html>



 

